<body class="has-navbar-fixed-bottom">
    <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
    <nav
      class="navbar is-dark is-fixed-bottom"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/products"> All Products </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu navbar-end">
          <a class="navbar-item" href="/products/new"> New Product </a>
      </div>
    </nav>