<body class="has-navbar-fixed-top">
    <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
    <nav
      class="navbar is-info is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >


      <div class= "navbar-brand">
        <div class= "navbar-item image is-96x96">
          <img class= "is-rounded" src="images/ClosedOcean.png"> 
        </div>
        <div class="navbar-menu">
          <a class="navbar-item nav-link-color" href="/home"><h1 class="hi">Closed Ocean</h1> </a>
        </div>
      </div>
        <div class="navbar-end">
          <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="/explore"> Explore NFT's </a>
      </div>
      
      <div class="navbar-menu navbar-end">
        <a class="navbar-item" href="/create"> Make Your Own NFT's </a>
      </div>
      
      <div class="navbar-menu navbar-end">
        <a class="navbar-item" href="/stats"> Top NFT's </a>
      </div>
    </div>
      
      <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  
  
    </nav>