<body class="has-navbar-fixed-top">
    <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
    <nav
      class="navbar is-info is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >


      <div class= "navbar-brand">
        <div class= "navbar-item image is-96x96">
          <img class= "is-rounded" src="http://cdn.supadupa.me/shop/14281/images/1072424/il_fullxfull.468979714_rahc_grande.jpg"> 
        </div>
        <div class="navbar-menu">
          <a class="navbar-item" href="/home">Closed Ocean</a>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-menu navbar-end">
          <a class="navbar-item" href="/explore"> Explore NFT's </a>
      </div>
        
        <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="/create"> Make Your Own NFT's </a>
        </div>

        <div class="navbar-menu navbar-end">
          <a class="navbar-item" href="/stats"> Top NFT's </a>
      </div>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

    </nav>