<body class="has-navbar-fixed-top explore-cover-Page">
    <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
    <nav class="navbar is-warning is-fixed-top" role="navigation" aria-label="main navigation">
  
  
      <div class="navbar-brand">
        <a class="" href="/home">
          <img class="logo cursor" src="images/Image.jpg" alt="Closed Ocean">
        </a>
      </div>
      <div class="navbar-end ">
        <div class="navbar-menu navbar-end ">
          <a class="navbar-item" href="/explore"> Explore NFT's </a>
        </div>
  
        <div class="navbar-menu navbar-end">
          <a class="navbar-item" href="/create"> Make Your Own NFT's </a>
        </div>
  
        <div class="navbar-menu navbar-end">
          <a class="navbar-item" href="/stats"> Top NFT's </a>
        </div>
  
        <div class="navbar-menu navbar-end ">
          <a class="navbar-item" href="/author"> Creator Profile </a>
        </div>
      </div>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  
  
    </nav>