<!DOCTYPE html>
<html lang="en">
    <!-- header -->
    <%- include ('./partials/header.ejs', {page: 'Explore Our NFT's'}) %>
    <!-- nav -->
    <%- include ('./partials/nav.ejs') %>
    <div class="columns is-multiline is-vcentered">
        <div class="column is-one-quarter">
          <code>is-one-quarter</code>
        </div>
        <div class="column is-one-quarter">
          <code>is-one-quarter</code>
        </div>
        <div class="column is-one-quarter">
          <code>is-one-quarter</code>
        </div>
        <div class="column is-one-quarter">
          <code>is-one-quarter</code>
        </div>
    </div>





    
</body>
</html>