<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include ('./partials/header.ejs', {page: 'Home' }) %>

  <!-- nav -->
  <%- include ('./partials/nav.ejs') %>

    <div class="cover-image">
      <div class="hero-txt">
        <h1>Discover, collect, and sell extraordinary NFTs</h1>
        <h6>ClosedOcean is the world's first and largest NFT marketplace</h6>
      </div>
      <div class="buttons btn-position">
        <button class="button is-danger is-rounded"> <a class="home-btn" href="/explore">Look Around</a></button>
        <button class="button is-danger is-rounded"> <a class="home-btn" href="/explore/create">Make Your
            Own</a></button>
      </div>

      <div>
        <img class="foreground-image" src="https://wallpapercave.com/wp/wp6572746.jpg" alt="">
      </div>
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="Rank">Rk</abbr></th>
            <th>Name</th>
            <th><abbr title="Price">Pr</abbr></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>1</th>
            <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c1" title="Angry Bit">NFT #3 Angry Bit</a>
            </td>
            <td>75000</td>
          </tr>
          <tr>
            <th>2</th>
            <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c4" title="Bitman">NFT #6 Bitman</a></td>
            <td>50000</td>
          </tr>
          <tr>
            <th>3</th>
            <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c3" title="Another One">NFT #5 Classic 1986
                All time favorite: Mario</a></td>
            <td>32000</td>
          </tr>
        </tbody>
      </table>
    </div>


    </body>

</html>