<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include ('./partials/header.ejs', {page: 'Home' }) %>

  <!-- nav -->
  <%- include ('./partials/nav.ejs') %>
   
<div class="cover-image">

    <div class="buttons">
      <button class="button is-large is-fullwidth is-outlined is-text">Look Around</button>
    </div>
    <div class="buttons">
      <button class="button is-large is-fullwidth is-inverted is-info is-light">Make Your Own</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="Rank">Rk</abbr></th>
          <th>Name</th>
          <th><abbr title="Price">Pr</abbr></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><abbr title="Rank">Rk</abbr></th>
          <th>Name</th>
          <th><abbr title="Price">Pr</abbr></th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th>1</th>
          <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Angry Bit">Angry Bit</a>
            <strong>(C)</strong>
          </td>
          <td>75000</td>
        </tr>
        <tr>
          <th>2</th>
          <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Bitman">Bitman</a></td>
          <td>98</td>
        </tr>
        <tr>
          <th>3</th>
          <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Another One">Another One</a></td>
          <td>3200</td>
        </tr>
      </tbody>
    </table>
</div>


    </body>

</html>