
<!DOCTYPE html>
<html lang="en">
    <!-- header -->
    <%- include ('./partials/header.ejs', {page: 'NFT Rankings'}) %>
    <!-- nav -->
    <%- include ('./partials/nav.ejs') %>
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="Rank">Rk</abbr></th>
          <th><abbr title="Image">Pic</abbr></th>
          <th>Name</th>
          <th><abbr title="Price">Pr</abbr></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><abbr title="Rank">Rk</abbr></th>
          <th><abbr title="Image">Pic</abbr></th>
          <th>Name</th>
          <th><abbr title="Price">Pr</abbr></th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th>1</th>
          <td><img src="https://lh3.googleusercontent.com/csJyir8aDza9lPed9kRNYaTydGE0qN3EHMCNi1UkrM--qxP4cvtlQCtqHb0emYl1e2tAIONqrFNgsvPnMoInxvZ6ne-rnXfz1bgfJ8Q=w600"></td>
          <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c1" title="Angry Bit">NFT #3 Angry Bit</a>
          </td>
          <td>75000</td>
        </tr>
        <tr>
          <th>2</th>
          <td><img src="https://lh3.googleusercontent.com/jjuTlMckBHMPOodZ4_Nbzi7OgEkc4Dt1vO2Mpo5fwsSDHe0B4Sr1hUqgbVmBJM_R0RnKTe2XpvkJFzxhxKq9Hi3hYWtU-y75Mqa7=w600"></td>
          <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c4" title="Bitman">NFT #6 Bitman</a></td>
          <td>50000</td>
        </tr>
        <tr>
          <th>3</th>
          <td><img src="https://lh3.googleusercontent.com/0PoAgQtIDaAxDcWPqn3Lm5BcUennRT1iu4r45UXcNYzkNAO3U8fXUc4kaWp5c4YAcFfGFPSxJncgln4LHq1lg49Zd5fzzRwe6l-ls9U=w600"></td>
          <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c3" title="Mario">NFT #5 Classic 1986
              All time favorite: Mario</a></td>
          <td>32000</td>
        </tr>
        <tr>
          <th>4</th>
          <td><img src="https://wallpaperaccess.com/full/664881.jpg"></td>
          <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c1" title="Spineless Inteligence">NFT #4 Spineless Inteligence</a>
          </td>
          <td>75000</td>
        </tr>
        <tr>
          <th>5</th>
          <td><img src="https://lh3.googleusercontent.com/jiW30Y2n596jNb1_TshoKldwuZm_mdCVQL195roQmQ4rLiOIDhbJA6zzT93-wfIhK4KrxVV6PE7pxZUoUPslkI6SYt4_Q0rKU_Yf=w289"></td>
          <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c4" title="Goofy Paws">NFT #7 Goofy Paws</a></td>
          <td>50000</td>
        </tr>
        <tr>
          <th>6</th>
          <td><img src="https://terranft.io/wp-content/uploads/2021/11/LunaPunk_-19-300x300.png"></td>
          <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c3" title="Crypto Punk">NFT #9 Crypto Punk</a></td>
          <td>32000</td>
        </tr>
          <th>7</th>
            <td><img src="https://doorofperception.com/wp-content/uploads/Alex_Grey-The_Kiss.jpg"></td>
            <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c1" title="Singularity">NFT #1 Singularity of Humanity</a>
            </td>
          <td>75000</td>
        </tr>
        <tr>
          <th>8</th>
          <td><img src="https://64.media.tumblr.com/56b0d606e4b7ddd2a1e7d4f78e262ab5/tumblr_n0l3cwBAJa1rrftcdo1_500.gifv"></td>
          <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c4" title="Whomp">NFT #8 Whomp</a></td>
          <td>50000</td>
        </tr>
        <tr>
          <th>9</th>
          <td><img src="https://lh3.googleusercontent.com/z10a_2APyJWcG9FcRuLjLUASNw-HarqEip1fDVrzmBH8lHt9fZnHWRD2TyGQ_b18vnL2VJaVI3v-cPK-KgMrjK-lxqlQ8JKxBqWHKLg=w600"></td>
          <td><a class="home-link" href="/explore/61f42acbd6683a9fcbdf21c3" title="Big Bang">NFT #2 Big Bang of Machine Meets Man</a></td>
          <td>32000</td>
        </tr>
      </tbody>
    </table>






    
</body>
</html>
