
.logo {
  width: 200px;
  height: 100%;
}
.logo:hover {
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}

.blur {
  filter: blur(5px);
}

.cover-image {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2019/10/15/ocean-sunset-wallpaper.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
 /* filter: blur(5px); */
}

.cover-image:before {
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    filter: blur(10px);
}

.foreground-image {
    position: absolute;
    right: 100px;
    top: 175px;
    width: 500px;
    height: 500px;
}

.grid-layout {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  margin: 75px 0 50px;

  justify-content: center;
}

.columns {
  margin: 0;
  margin-bottom: 0;
}

.columns:not(:last-child) {
    margin-bottom: 0;
}

.explore-cover-Page {
  background-image: url("https://i.pinimg.com/originals/e2/3f/a6/e23fa65dcedeb00cc5f9ac4ca015699d.jpg");
  display: grid;
  justify-content: center;
}

.table {
    width: 70%;
    margin-left: 245px;
    background-color: lightsalmon;
    position: absolute;
    bottom: 0;
}


    .home-btn {
        color: whitesmoke;
        text-decoration: none;
        cursor: pointer;
        
    }
    
    .btn-position {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 225px;
        top: 600px;
    }

    .hero-txt {
        position: absolute;
        left: 100px;
        top: 500px;
        color: whitesmoke;
        text-align: center;
    }

    .hero-txt h1 {
        font-size: 30px;
    }

    .home-link {
        text-decoration: none;
        color: whitesmoke;
    }

    
    
  
